@model LoginVM

@{
    ViewBag.Title = "Account | Login";
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>

    <br>
    <div>
        <label>
            <input asp-for="RememberMe">
            Remember Me
        </label>
    </div>
    <br>

    <section>
        <button>Login</button>
        <button type="reset">Reset</button>
    </section>
</form>

<p>
    [ <a href="/Account/Register">Register</a> |
      <a href="/Account/ResetPassword">Reset Password</a> ]
</p>
