@model RegisterVM

@{
    ViewBag.Title = "Account | Register";
}

<form class="form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>

    <label asp-for="Confirm"></label>
    <input asp-for="Confirm">
    <span asp-validation-for="Confirm"></span>

    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="Photo"></label>
    <div>
        <label class="upload">
            <small>Select Photo...</small>
            <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
            <img src="/images/photo.jpg">
        </label>
    </div>
    <span asp-validation-for="Photo"></span>

    <section>
        <button>Register</button>
        <button type="reset">Reset</button>
    </section>
</form>

@section foot {
    <script>
        $.validator.setDefaults({ ignore: '' });
    </script>
}
