@model ResetPasswordVM

@{
    ViewBag.Title = "Account | Reset Password";
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <section>
        <button>Submit</button>
        <button type="reset">Reset</button>
    </section>
</form>
