@model UpdatePasswordVM

@{
    ViewBag.Title = "Account | Update Password";
}

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Current"></label>
    <input asp-for="Current" autofocus>
    <span asp-validation-for="Current"></span>

    <label asp-for="New"></label>
    <input asp-for="New">
    <span asp-validation-for="New"></span>

    <label asp-for="Confirm"></label>
    <input asp-for="Confirm">
    <span asp-validation-for="Confirm"></span>

    <section>
        <button>Update</button>
        <button type="reset">Reset</button>
    </section>
</form>
