@model UpdateProfileVM

@{
    ViewBag.Title = "Account | Update Profile";
}

<form class="form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <b>@Model.Email</b>
    <br>

    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus>
    <span asp-validation-for="Name"></span>

    <label asp-for="Photo"></label>
    <div>
        <label class="upload">
            <small>Select Photo...</small>
            <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
            <img src="/photos/@Model.PhotoURL">
        </label>
    </div>
    <span asp-validation-for="Photo"></span>

    <section>
        <button>Update</button>
        <button type="reset">Reset</button>
    </section>
</form>
