@model IEnumerable<Product>

@{
    // Get shopping cart items
    Dictionary<string, int> cart = ViewBag.Cart;
}

<div class="products">
    @foreach (var p in Model)
    {
        <div class="product">
            @* AJAX form ✅ *@
            <form method="post" action="/Product/UpdateCart" 
                  data-ajax="true" data-ajax-update="#target">
                @{
                    var quantity = 0;
                    if (cart.ContainsKey(p.Id))
                    {
                        quantity = cart[p.Id];
                        <span>✅</span>
                    }
                    var list = new SelectList(Enumerable.Range(1, 10), quantity);
                }
                @Html.DropDownList("Quantity", list, "", new { onchange = "$(this.form).submit()" })
                @Html.Hidden("ProductId", p.Id)
            </form>
            <img src="/products/@p.PhotoURL" data-get="/Product/Detail/@p.Id">
            <div>@p.Name - RM @p.Price</div>
        </div>
    }
</div>
